<div class="section-wrapper">
    <section class="section about" id="about">
        <br id="about-text">
            <div class="section-heading">About</div>
            <br class="paragraph-text justify-text">
                안녕하세요. 저는 새로운 것을 배척하지 않으며 관점의 차이를 아는 개발자입니다. 대학에서 신학과 철학을 공부했습니다. 
            </p>
            <p class="paragraph-text justify-text">
                블록체인
            </p>
            <p class="paragraph-text justify-text">
                I maintain a little blog at <a href="{{ site.blog_url }}">nagekar.com</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
