<div class="section-wrapper">
  <section class="section about" id="education">
    <div id="about-text">
      <div id="education">
        <div class="section-heading">Education</div>
        <div class="education-block">
          <h3>한국스마트정보교육원</h3>
          <span class="education-date">2022.05.16 ~ 2022.10.31 (900시간)</span>
          <h4>ICT 융합 풀스택(자바/스프링) 개발자 양성과정 44기</h4>
          <ul>
            <li>
              NCS 학습 모듈 기반
              <ul>
                <li>
                  1) 요구사항 확인 2) 화면설계 - UI 설계하기 3) UI 디자인 - GUI
                  디자인 요소 선정하기 4) UI 구현 - UI 설계 검토하기 - UI
                  구현표준 검토하기
                </li>
                <li>
                  5) 데이터베이스 구현 - DBMS 설치하기- 데이터베이스 생성하기 -
                  데이터베이스 오브젝트 생성하기 6) SQL 활용 - 기본 SQL 작성하기
                  - 고급 SQL 작성하기
                </li>
                <li>
                  7) 애플리케이션 설계 - 공통모듈 설계하기 8) 인터페이스 구현 -
                  인터페이스 설계서 확인하기 - 인터페이스 기능 구현하기 9) 서버
                  프로그램 구현 - 개발환경 구축하기
                </li>
                <li>
                  10) 네트워크 프로그래밍 - 개발환경 분석하기 11) 임베디드
                  애플리케이션 - 애플리케이션 모듈 구현하기 12) 통합 구현 - 연계
                  데이터 구성하기 - 내외부 연계 모듈 구현하기
                </li>
              </ul>
            </li>
            <li>
              교육 활동
              <ul>
                <li>
                  프로그래밍 언어 활용 (기초문법), 화면구현 (Javascript 문법,
                  HTML, CSS), 데이터 입출력 구현(java, model1, model2) ,서버
                  프로그램 구현(Apache tomcat), SQL 활용(MySQL, Mybatis),
                  데이터베이스 구현(MySQL, Oracle), 통합구현(Spring MVC),
                  요구사항 확인, 화면설계, 애플리케이션 테스트 수행(단위테스트,
                  통합테스트), 애플리케이션 배포(Oracle cloud)
                </li>
              </ul>
            </li>
          </ul>
          <!--
          <p>
            (NCS 학습 모듈 기반) 1) 요구사항 확인 / 2) 화면설계 - UI 설계하기 /
            3) UI 디자인 - GUI 디자인 요소 선정하기 4) UI 구현 - UI 설계
            검토하기 - UI 구현표준 검토하기 5) 데이터베이스 구현 - DBMS
            설치하기- 데이터베이스 생성하기 - 데이터베이스 오브젝트 생성하기 6)
            SQL 활용 - 기본 SQL 작성하기 - 고급 SQL 작성하기 7) 애플리케이션
            설계 - 공통모듈 설계하기 8) 인터페이스 구현 - 인터페이스 설계서
            확인하기 - 인터페이스 기능 구현하기 9) 서버 프로그램 구현 - 개발환경
            구축하기 10) 네트워크 프로그래밍 - 개발환경 분석하기 11) 임베디드
            애플리케이션 - 애플리케이션 모듈 구현하기 12) 통합 구현 - 연계
            데이터 구성하기 - 내외부 연계 모듈 구현하기 ▷교육 활동 - 프로그래밍
            언어 활용 (기초문법) - 화면구현 (Javascript 문법, HTML, CSS) -
            데이터 입출력 구현(java, model1, model2) - 서버 프로그램 구현(Apache
            tomcat) - SQL 활용(MySQL, Mybatis) - 데이터베이스 구현(MySQL,
            Oracle) - 통합구현(Spring MVC) - 요구사항 확인 - 화면설계 -
            애플리케이션 테스트 수행(단위테스트, 통합테스트) - 애플리케이션
            배포(Oracle cloud)
          </p>
          -->
        </div>
        <!-- End .education-block -->

        <div class="education-block">
          <h3>CryptoZombies</h3>
          <span class="education-date"> ~ 2023.01.30</span>
          <h4>Solidity: Beginner to Intermediate Smart Contracts</h4>
          <ul>
            <li>
              연산, 구조체, 배열, 접근지정자, 함수, 형변환, 이벤트 해시함수,
              매핑, require, 상속
            </li>
            <li>
              Storage와 Memory, 인터페이스, 다수의 리턴, 소유(Ownable),
              함수제어자, 가스비 최적화, 출금, 난수
            </li>
            <li>ERC721 표준, 다중상속, 오버플로우와 언더플로우, Web3.js</li>
          </ul>
        </div>
        <!-- End .education-block -->

        <div class="education-block">
          <h3>패스트캠퍼스</h3>
          <span class="education-date">2023.02.14 ~ 수강중 (122시간)</span>
          <h4>한 번에 끝내는 블록체인 개발 A to Z Online</h4>
          <ul>
            <li>
              블록체인의 개념, 블록체인의 역사, 블록체인 아키텍처, Smart
              Contract의 보안, 메타마스크와 Web3, Solidity 문법, Rust 문법
            </li>
            <li>
              ERC 20, ERC 721 NFT, NFT 마켓 실습(Crypto Kitty, Opensea), Defi
              실습(PancakeSwap, Compound, Uniswap v2)
            </li>
            <li>블록탐색기, Bridge, Wallet 실습</li>
          </ul>
        </div>
        <!-- End .education-block -->
      </div>
      <!-- End #education -->
    </div>
  </section>
</div>
